<!--
<strong>{{stockObject | json}}</strong>
{{reutersObject | json}}
<br> -->
	<div class="well well-md">
	  <h2 class="center-text">Loading Data for {{stockTicker | uppercase}}</h2>
		<hr>
		<h4>Feature coming soon....</h4>
		<!-- <h4>
			Reuters API: <span class="label label-info">Info</span>
			&emsp;
			Google API:
<span class="label label-warning">Warning</span>

&emsp;
Yahoo API:
<span class="label label-danger">Danger</span>
&emsp;
Morning Star API:
<span class="label label-danger">Danger</span>
		</h4> -->
	</div>
